<ion-header >
  <ion-toolbar color="danger">
    <ion-title >DealDone</ion-title> 
  </ion-toolbar>
  
  <ion-toolbar >
    <ion-button color="danger" (click)="btnClicked4()" routerLink="/profile">Home<ion-icon slot="icon-only" name="home"></ion-icon></ion-button>
    <ion-button color="danger" (click)="btnClicked()" routerLink="/profile">Profile<ion-icon slot="icon-only" name="people"></ion-icon></ion-button>
    <ion-button color="danger" (click)="btnClicked2()" routerLink="/profile">Settings<ion-icon slot="icon-only" name="cog"></ion-icon></ion-button>
    <ion-button color="danger" (click)="btnClicked3()" routerLink="/profile">About<ion-icon slot="icon-only" name="help"></ion-icon></ion-button>
  </ion-toolbar>

 

    
 
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center;">
  <!-- Image -->
  <ion-img  style="width: 100%; max-width: 400px; height: auto;" src="https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6IndlYnAiLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yOTkwNTkyMjMifQ==?signature=2f24312a241cd6db109c517018f942a2085f6338d6fd7b67c980439470102a68"></ion-img></div>
  

 
  <ion-card>
    <ion-card-content>
      <p>Since 2006 we have been making buying and selling quicker, smarter, and more enjoyable. With over three million ads placed each year, it is the best place to find anything you need.</p>
      <p>You can compare prices from private sellers and dealers, so that you can find the perfect car for you. DoneDeal's farming section also helps those in the farming community by saving valuable time by offering the best choice of farm machinery and livestock in Ireland.</p>
      <p>With DoneDeal it's easy to:</p>
      <ul>
        <li>Compare prices and filter locations so you can find the best car for you.</li>
        <li>Choose from the best range of cars from private and dealer sellers.</li>
        <li>Apply for car finance through selected dealers.</li>
        <li>Find Manufacturer Approved stock on used cars.</li>
        <li>Feel happy that you are in the right place, supported by our customer service team that can answer any of your questions.</li>
      </ul>
      <p>We are here for you for your whole car buying or selling journey. We'll keep working on creating products that will support and empower you to make the best choice, so you can easily find your next car.</p>
    </ion-card-content>
  </ion-card>



  
</ion-content>